html,body {
  color: #4a4a4a;
  background-image: url('/background.png');
  background-size: cover;
}

.income {
  color: #09ACD1;
}
.expense {
  color: #E44B70;
}
dt, dd {
  font-size: 0.8rem;
}
dt {
  width: 130px;
}
dd {
  font-weight: bold;
  white-space: pre-wrap;
}
